<div class="maindiv">
    <div class="sidemenu">
      <ul>
        <li>Bar</li>
        <li>Table</li>
        <li>Pi</li>
      </ul>
    </div>
    <div class="table">
      <table datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="data.length>0">
        <thead>
          <tr>
            <th></th>
            <th>Country</th>
            <th>Name</th>
            <th>Domains</th>
            <th>Web Pages</th>
            <th></th>
            <th>Country</th>
            <th>Name</th>
            <th>Domains</th>
            <th>Web Pages</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let val of data" >
            <td>{{val.alpha_two_code}}</td>
            <td>{{val.country}}</td>
            <td>{{val.name}}</td>
            <td>{{val.domains}}</td>
            <td>{{val.web_pages}}</td>
            <td>{{val.alpha_two_code}}</td>
            <td>{{val.country}}</td>
            <td>{{val.name}}</td>
            <td>{{val.domains}}</td>
            <td>{{val.web_pages}}</td>
          </tr>
          
        </tbody>
      </table>
      
    </div>
  </div>