<div class="maindiv">
    <div class="sidemenu">
      <ul>
        <li>Bar</li>
        <li>Table</li>
        <li>Pi</li>
      </ul>
    </div>
    <div class="table">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>1</td>
            <td>ABC</td>
            <td>DEF</td>
          </tr>
          <tr >
            <td>1</td>
            <td>ABC</td>
            <td>DEF</td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>